<%- include('partials/header', {title: 'About Us'}) %>
<div class="bg-white flex flex-col">
  <div
    class="self-stretch flex w-full items-stretch justify-between gap-5 mt-6 max-md:max-w-full max-md:flex-wrap"
  >
    <div class="flex items-stretch justify-between gap-0 px-5">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b11b245-9850-4832-ae7a-6f5276396cae?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        <a href="/">SECEDU Hub</a>
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-1 my-auto px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/cyberThreats">CYBER THREATS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/trainingAndDevelopment">OUR RESPONSE</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/65ec8e81-e5d1-4ba3-82ef-d066da497764?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div class="text-sky-900 text-xl leading-6 self-center my-auto"><a href="/News">NEWS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/getInvolved">GET INVOLVED</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/200b2a68-6f41-4999-80cf-7186ec8fb2cc?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[1.56] object-contain object-center w-3.5 fill-sky-900 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5"
      >
        <a href="/Donate">DONATE</a>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/21623f28-f060-4fbe-874b-7e1cf607328c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <div
    class="flex-col text-white text-6xl leading-[77px] relative whitespace-nowrap overflow-hidden self-stretch min-h-[565px] w-full mt-3.5 pt-24 pb-80 px-5 max-md:text-4xl max-md:leading-[53px] max-md:max-w-full max-md:pr-2.5 max-md:py-10"
  >
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/8d76114f-2491-4e5c-9e26-cf42162de728?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
    />
    OUR WORK
  </div>
  <div
    class="flex w-[762px] max-w-full flex-col items-stretch ml-8 mt-10 self-start"
  >
    <div
      class="text-black text-3xl leading-10 whitespace-nowrap max-md:max-w-full"
    >
      WORKING TOGETHER TOWARDS CYBER DEFENSE
    </div>
    <div
      class="text-black text-6xl leading-[77px] whitespace-nowrap mt-11 max-md:max-w-full max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
    >
      Our operating model
    </div>
  </div>
  <div
    class="text-black text-3xl leading-10 self-stretch w-full mt-7 max-md:max-w-full"
  >
    Cyberattacks directly affect people. From hospitals to humanitarian NGOs,
    threat actors
    <br />
    target the organizations playing an essential role in supporting those most
    in need. We are
    <br />
    an NGO, supporting NGOs and other critical sectors, offering free
    cybersecurity assistance,
    <br />
    threat detection and analysis whilst advocating for safety and security in
    cyberspace. Our
    <br />
    commitment to assist and protect vulnerable communities determines the focus
    of the
    <br />
    activities of the Institute.
  </div>
  <div
    class="self-stretch w-full mt-12 pr-16 max-md:max-w-full max-md:mt-10 max-md:pr-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
        <div
          class="flex-col overflow-hidden relative flex min-h-[376px] grow items-center pt-12 pb-4 px-5 max-md:max-w-full max-md:mt-6"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a9f429da-6805-4812-9ff7-33799ee40a1d?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
          />
          <div
            class="relative text-white text-6xl leading-[77px] uppercase whitespace-nowrap bg-blue-700 bg-opacity-50 w-[538px] max-w-full items-center mt-48 px-5 py-10 max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
          >
            Help
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex-col overflow-hidden relative flex min-h-[376px] grow items-center pt-12 pb-4 px-5 max-md:max-w-full max-md:mt-6"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3698e75e-3777-445e-9143-5210f7d98cf5?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
          />
          <div
            class="relative text-white text-6xl leading-[77px] uppercase max-w-full bg-blue-700 bg-opacity-50 w-[538px] items-center mt-48 px-5 py-10 max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
          >
            Investigate
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch w-full mt-4 px-5 max-md:max-w-full">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
        <div
          class="text-black text-2xl leading-7 max-md:max-w-full max-md:mt-8"
        >
          We bring together a cohort of partners, experts and
          <br />
          volunteers to help humanitarian and development NGOs
          <br />
          prepare for, defend against and recover from cyberattacks.
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 max-md:max-w-full max-md:mt-8"
        >
          We work collaboratively with cybersecurity and technology
          <br />
          partners to develop an understanding of the cybersecurity
          <br />
          threat landscape of vulnerable communities. We provide
          <br />
          advanced warning of threats so as to reduce their impact
          <br />
          and harm.
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch w-full mt-9 pr-14 max-md:max-w-full max-md:pr-5">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
        <div
          class="flex-col overflow-hidden relative flex min-h-[376px] grow items-center pt-12 pb-4 px-5 max-md:max-w-full max-md:mt-7"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2132a249-5493-457b-b289-93b26367903a?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
          />
          <div
            class="relative text-white text-6xl leading-[77px] uppercase max-w-full bg-blue-700 bg-opacity-50 w-[538px] items-center mt-48 px-5 py-10 max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
          >
            Promote
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex-col overflow-hidden relative flex min-h-[376px] grow items-center pt-12 pb-4 px-5 max-md:max-w-full max-md:mt-7"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/1a0a3983-b287-4d7a-97e7-efa0124ad05f?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
          />
          <div
            class="relative text-white text-6xl leading-[77px] uppercase whitespace-nowrap bg-blue-700 bg-opacity-50 w-[538px] max-w-full items-center mt-48 px-5 py-10 max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
          >
            ANticipate
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="self-stretch flex w-full flex-col items-stretch mt-4 pl-10 pr-10 max-md:max-w-full max-md:px-5"
  >
    <div class="max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
        >
          <div
            class="text-black text-2xl leading-7 max-md:max-w-full max-md:mt-6"
          >
            We actively participate in coalitions and international debate
            <br />
            to influence respect for and/or development of laws, rights
            <br />
            and norms in cyberspace, for responsible behaviour and
            <br />
            accountability.
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="text-black text-2xl leading-7 max-md:max-w-full max-md:mt-6"
          >
            We monitor and analyse the impact of emerging and
            <br />
            disruptive technologies, such as artificial intelligence and
            <br />
            quantum computing, on the security of vulnerable
            <br />
            communities in cyberspace.
          </div>
        </div>
      </div>
    </div>
    <div
      class="text-black text-3xl leading-10 whitespace-nowrap mt-28 max-md:max-w-full max-md:mt-10"
    >
      SUPPORTING VULNERABLE COMMUNITIES
    </div>
    <div
      class="text-black text-6xl leading-[77px] whitespace-nowrap mt-12 max-md:max-w-full max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
    >
      What we care about
    </div>
    <div
      class="text-black text-3xl leading-10 mt-11 max-md:max-w-full max-md:mt-10"
    >
      We develop programs to support communities vulnerable to threats in
      cyberspace. By
      <br />
      monitoring, assessing and communicating on the cyber threats to these
      communities, we
      <br />
      can work together with partners to better protect them.
    </div>
  </div>
  <div
    class="bg-blue-500 self-stretch w-full mt-7 pl-9 pr-8 py-12 max-md:max-w-full max-md:px-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[43%] max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/abdd5066-ddcc-4003-b601-a78c5fe22b62?apiKey=3d4614815a2e4e8582811d42cca0441f&"
          class="aspect-[1.29] object-contain object-center w-full overflow-hidden mt-2 max-md:max-w-full max-md:mt-10"
        />
      </div>
      <div
        class="flex flex-col items-stretch w-[57%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex flex-col items-stretch mt-4 max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-black text-3xl leading-10 whitespace-nowrap max-md:max-w-full"
          >
            HUMANITARIAN NGOS
          </div>
          <div
            class="text-black text-6xl leading-[77px] mt-9 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
          >
            Protecting Humanitarian
            <br />
            and Development NGOs
          </div>
          <div class="text-black text-2xl leading-7 mt-5 max-md:max-w-full">
            More than 1 billion people across the world receive vital support
            <br />
            and services from non- governmental organizations (NGOs). NGOs
            <br />
            leverage technologies to carry out their activities and are
            entrusted
            <br />
            to hold vast troves of sensitive data on vulnerable people. This has
            <br />
            increased their digital risk. We help over 170 NGOs build their
            cyber
            <br />
            resilience and fend off cyberattacks. We continuously develop
            <br />
            products and services to better understand the risks they face and
            <br />
            assist them on their cyber-readiness journey for free.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="self-stretch w-full mt-12 pr-16 max-md:max-w-full max-md:mt-10 max-md:pr-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[53%] max-md:w-full max-md:ml-0"
      >
        <div
          class="text-zinc-300 text-3xl leading-10 uppercase whitespace-nowrap border bg-sky-900 grow items-stretch w-full mx-auto px-5 py-12 border-solid border-black max-md:max-w-full max-md:mt-10 max-md:pr-0.5"
        >
          Humanitarian Cybersecurity Center
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[23%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-zinc-300 text-3xl leading-10 uppercase whitespace-nowrap border bg-sky-900 grow items-stretch w-full mx-auto px-5 py-12 border-solid border-black max-md:mt-10 max-md:px-px"
        >
          INVESTIGATIONS
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[23%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-zinc-300 text-3xl leading-10 uppercase whitespace-nowrap border bg-sky-900 grow items-stretch w-full mx-auto px-5 py-12 border-solid border-black max-md:mt-10 max-md:pl-1.5 max-md:pr-0.5"
        >
          CYBER DEFENSE
        </div>
      </div>
    </div>
  </div>
  <div
    class="self-stretch w-full mt-14 pr-8 max-md:max-w-full max-md:mt-10 max-md:pr-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[57%] max-md:w-full max-md:ml-0"
      >
        <div class="flex flex-col items-stretch max-md:max-w-full max-md:mt-10">
          <div
            class="text-black text-3xl leading-10 whitespace-nowrap max-md:max-w-full"
          >
            SURVEILLANCE
          </div>
          <div
            class="text-black text-6xl leading-[77px] mt-9 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
          >
            Preserving Rights &
            <br />
            Freedoms
          </div>
          <div class="text-black text-2xl leading-7 mt-8 max-md:max-w-full">
            We’ve identified over 30 private sector companies exploiting
            <br />
            emerging vulnerabilities to develop commercial-grade spyware.
            <br />
            These targeted surveillance tools have been misused by
            <br />
            governments around the world to conduct surveillance activities
            <br />
            on non-criminal targets including High Profile Persons of Interest,
            <br />
            such as journalists, human rights defenders, dissidents and
            <br />
            opposition politicians.
            <br />
            <br />
            Our research explores in-how-far the global sale and transfer of
            <br />
            spyware products may result in a systemic threat in cyberspace
            <br />
            and harm to people. We seek to protect and empower those
            <br />
            whose security and liberty has been violated by unveiling
            <br />
            loopholes in existing legal, policy and regulatory instruments.
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[43%] ml-5 max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b524427e-9e82-4e9e-983c-116bee529458?apiKey=3d4614815a2e4e8582811d42cca0441f&"
          class="aspect-[0.91] object-contain object-center w-full overflow-hidden grow mt-1 max-md:max-w-full max-md:mt-10"
        />
      </div>
    </div>
  </div>
  <div
    class="border bg-sky-950 self-stretch flex w-full flex-col items-stretch mt-14 px-20 py-12 border-solid border-black max-md:max-w-full max-md:mt-10 max-md:px-5"
  >
    <div
      class="text-zinc-300 text-3xl leading-10 uppercase self-center whitespace-nowrap mt-8 max-md:max-w-full"
    >
      We develop products and services that make a difference.
    </div>
    <div
      class="text-zinc-300 text-center text-3xl leading-10 max-w-[1249px] ml-5 mr-4 mt-14 max-md:max-w-full max-md:mr-2.5 max-md:mt-10"
    >
      To support the effort to protect vulnerable communities from cyber
      threats, please
      <br />
      donate to the CyberPeace Institute.
    </div>
    <div
      class="text-white text-3xl leading-10 uppercase whitespace-nowrap bg-green-500 self-center w-[301px] max-w-full items-center mt-11 mb-3 px-5 py-12 max-md:mt-10"
    >
      DONATE NOW
    </div>
  </div>
  <div
    class="border bg-green-500 self-stretch flex w-full flex-col items-center pl-20 pr-20 py-12 border-solid border-black max-md:max-w-full max-md:px-5"
  >
    <div class="w-full max-w-[1145px] pr-14 max-md:max-w-full max-md:pr-5">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/42029a83-0478-4ee8-adca-4623147fb2e4?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.01] object-contain object-center w-[202px] overflow-hidden"
            />
            <div
              class="text-white text-3xl leading-10 uppercase self-stretch whitespace-nowrap"
            >
              SECEDU HUB
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[37%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch my-auto max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Find Out More
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Glossary
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch mt-8 max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Stay Connected
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Contact
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Newsletter
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Follow Us
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[323px] max-w-full items-stretch justify-between gap-5 mr-36 mt-12 mb-8 self-end max-md:justify-center max-md:mr-2.5 max-md:mt-10"
    >
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e4bc5550-70a4-492d-a2e1-d747d3ce2d77?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f744d002-9350-49f9-b307-76e3ec97a2ac?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd326c3-94d9-4364-a195-0b360c32b9ed?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f7a05a6b-356e-4070-b761-eedb5cd291c6?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
    </div>
  </div>
</div>
<%- include('partials/footer') %>