<%- include('partials/header', {title: 'CyberAttacks and Disinformation'}) %>
<div class="bg-white flex flex-col">
  <div
    class="self-stretch flex w-full items-stretch justify-between gap-5 mt-6 px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
  >
    <div class="flex items-stretch justify-between gap-0">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/febd44f9-bed4-4e92-a619-8728db3a35cd?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        <a href="/">SECEDU Hub</a>
      </div>
    </div>
    <div
      class="self-center flex items-stretch justify-between gap-3.5 my-auto max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6"><a href="/aboutus">ABOUT US</a></div>
      <div class="text-sky-900 text-xl leading-6"><a href="/cyberThreats">CYBER THREATS</a></div>
      <div class="text-sky-900 text-xl leading-6 whitespace-nowrap">
        <a href="/trainingAndDevelopment">OUR RESPONSE</a>
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-3 my-auto max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 self-center my-auto"><a href="/News">NEWS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/getInvolved">GET INVOLVED</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d1ebb256-09ff-4cbd-a4b8-7bbf22b1d38c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[1.56] object-contain object-center w-3.5 fill-sky-900 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5 max-md:pl-2.5"
      >
        <a href="/Donate">DONATE</a>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/484504bf-4e97-4e88-a074-8dd8b6605f3a?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <div
    class="bg-cyan-600 self-stretch flex w-full pt-0 flex-col mt-4 pb-12 px-20 max-md:max-w-full max-md:px-5"
  >
    <div
      class="bg-white self-center z-[1] flex w-[408px] max-w-full flex-col items-stretch pb-2.5 border-[0.2px] border-solid border-black"
    >
      <div
        class="text-black text-2xl leading-7 whitespace-nowrap bg-black bg-opacity-30 items-stretch pt-5 pb-3 px-5 max-md:pr-0.5"
      >
        Cyberattacks and disinformation
      </div>
      <div
        class="text-black text-2xl leading-7 whitespace-nowrap ml-5 mt-2.5 self-start max-md:ml-2.5"
      >
        Training and development
      </div>
    </div>
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/600fde1e-e4e7-4b32-8b32-80b5063803d1?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="aspect-[0.98] object-contain object-center w-[305px] overflow-hidden self-center max-w-full"
    />
    <div
      class="text-white text-6xl leading-[77px] self-center whitespace-nowrap mt-9 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
    >
      Cyberattacks and disinformation
    </div>
    <div
      class="text-white text-center text-3xl leading-10 max-w-[1270px] self-stretch mt-20 mb-8 max-md:max-w-full max-md:mr-1.5 max-md:mt-10"
    >
      We investigate the nexus between cyberattacks and proliferation of harmful
      content
      <br />
      online, including disinformation. We consider that such a convergence
      creates
      <br />
      unique risks to populations worldwide and increases the human impact of
      <br />
      cyber threats on vulnerable communities.
    </div>
  </div>
  <div
    class="text-black text-6xl leading-[77px] self-center whitespace-nowrap mt-24 max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
  >
    What We Do
  </div>
  <div
    class="text-black text-6xl leading-[77px] self-center whitespace-nowrap mt-20 max-md:max-w-full max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
  >
    Analysis and Investigation
  </div>
  <div
    class="text-black text-center text-3xl leading-10 self-stretch w-full mt-10 max-md:max-w-full"
  >
    To perform our work, we address disinformation as one form of harmful
    content as follows:
  </div>
  <div class="self-center w-full max-w-[1324px] mt-9 px-5 max-md:max-w-full">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[49%] max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 underline max-md:max-w-full max-md:mt-10"
        >
          Disinformation is information that is deliberately false,
          <br />
          malicious, or misleading, with the intent to cause harm,
          <br />
          deceive and undermine.
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[51%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 underline max-md:max-w-full max-md:mt-10"
        >
          Proliferation of online harmful content is intended as
          <br />
          modus operandi by which synthetic media online,
          <br />
          including disinformation, facilitates crime or triggers
          <br />
          the commitment of crime.
        </div>
      </div>
    </div>
  </div>
  <div
    class="text-black text-center text-3xl leading-10 max-w-[1270px] self-center mt-16 max-md:max-w-full max-md:mt-10"
  >
    We investigate the nexus between cyberattacks and proliferation of harmful
    content
    <br />
    from 3 angles:
  </div>
  <div class="self-stretch w-full mt-7 pr-16 max-md:max-w-full max-md:pr-5">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 border bg-white bg-opacity-60 grow items-stretch w-full mx-auto pt-20 pb-20 px-3.5 border-solid border-black max-md:max-w-full max-md:pr-0 max-md:mt-10"
        >
          We investigate how harmful content (i.e disinformation campaigns)
          create opportunities for cyberattacks (i.e Infodemics led to a rise of
          cyberattacks during COVID-19)
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 border bg-white bg-opacity-60 grow items-stretch w-full mx-auto pt-32 pb-24 px-5 border-solid border-black max-md:max-w-full max-md:pr-0 max-md:mt-10 max-md:py-10"
        >
          We investigate cyberattacks that take place as part of proliferation
          of harmful content online
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-2xl leading-7 border bg-white bg-opacity-60 grow w-full mx-auto pt-20 pb-20 px-4 border-solid border-black max-md:max-w-full max-md:mt-10"
        >
          We identify criminal groups and state actors who are using the same
          tools, techniques, processes, talents and infrastructure to deploy
          both cyberattacks and proliferation of harmful content online
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-blue-500 self-stretch flex w-full flex-col items-stretch mt-16 py-12 max-md:max-w-full max-md:mt-10"
  >
    <div class="w-full mt-20 mb-14 max-md:max-w-full max-md:my-10">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[44%] max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/864a373f-5f3a-45af-b545-7ebbf354f3b2?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="aspect-[1.09] object-contain object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-8"
          />
        </div>
        <div
          class="flex flex-col items-stretch w-[56%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="flex flex-col items-stretch my-auto px-5 max-md:max-w-full max-md:mt-10"
          >
            <div
              class="text-black text-6xl leading-[77px] whitespace-nowrap -mr-5 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
            >
              Data and Tools
            </div>
            <div
              class="text-black text-2xl leading-7 -mr-5 mt-12 max-md:max-w-full max-md:mt-10"
            >
              We analyse data and produce knowledge about the nexus between
              online harmful content and cyberattacks. We maintain a
              technological platform where like-minded entities can join us to
              investigate this threat.
              <br />
              <br />
              Through releasing public datasets, we empower vulnerable
              communities to act. We share actionable knowledge and tools, to
              support communities to raise their voices, and assist people to
              stay away and protect themselves from harmful content and
              cyberattacks.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-cyan-600 self-stretch w-full pl-10 py-12 max-md:max-w-full max-md:pl-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
      >
        <div
          class="flex flex-col items-stretch my-auto max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-black text-6xl leading-[77px] whitespace-nowrap max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
          >
            Advocacy
          </div>
          <div
            class="text-black text-2xl leading-7 mt-20 max-md:max-w-full max-md:mt-10"
          >
            We use our analysis to inform regulatory processes and empower
            policy makers and regulators. We provide recommendations to all
            stakeholders to protect the most vulnerable populations against the
            proliferation of harmful content and cyberattacks.
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a6cb624b-93f0-44bb-8dd4-fe8b2665e0f1?apiKey=3d4614815a2e4e8582811d42cca0441f&"
          class="aspect-square object-contain object-center w-full overflow-hidden my-auto max-md:max-w-full max-md:mt-10"
        />
      </div>
    </div>
  </div>
  <div
    class="bg-blue-500 self-stretch flex w-full flex-col items-stretch py-12 max-md:max-w-full"
  >
    <div class="w-full mt-20 mb-14 max-md:max-w-full max-md:my-10">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[44%] max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/191f05be-a6a9-477b-ad3f-b2d43091cd01?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="aspect-[1.09] object-contain object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-8"
          />
        </div>
        <div
          class="flex flex-col items-stretch w-[56%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="flex flex-col items-stretch my-auto px-5 max-md:max-w-full max-md:mt-10"
          >
            <div
              class="text-black text-6xl leading-[77px] whitespace-nowrap -mr-5 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
            >
              Community
            </div>
            <div
              class="text-black text-2xl leading-7 -mr-5 mt-10 max-md:max-w-full"
            >
              We engage actively with a community of like-minded and willing,
              dedicated to helping investigate, tackle and prevent online harm
              globally. We engage with entities committed to build cyberpeace
              for everyone, everywhere.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="border bg-green-500 self-stretch flex w-full flex-col items-center pl-20 pr-20 py-12 border-solid border-black max-md:max-w-full max-md:px-5"
  >
    <div class="w-full max-w-[1145px] pr-14 max-md:max-w-full max-md:pr-5">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7a32af98-fbc2-47d0-a6e3-a7f891bd0309?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.01] object-contain object-center w-[202px] overflow-hidden"
            />
            <div
              class="text-white text-3xl leading-10 uppercase self-stretch whitespace-nowrap"
            >
              SECEDU HUB
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[37%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch my-auto max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Find Out More
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Glossary
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch mt-8 max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Stay Connected
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Contact
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Newsletter
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Follow Us
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[323px] max-w-full items-stretch justify-between gap-5 mr-36 mt-12 mb-8 self-end max-md:justify-center max-md:mr-2.5 max-md:mt-10"
    >
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b5165e91-dc1c-4eb2-804a-a82493adcd89?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2cb4a4bd-449e-4449-90ca-47f4a7618ca6?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/270f276d-5f96-462b-ac11-d5a8e0432821?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee26861f-0fa3-4af4-b20e-378c60792e0e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
    </div>
  </div>
</div>
<%- include('partials/footer') %>