<%- include('partials/header', {title: 'Donate'}) %>
<div class="bg-white flex flex-col">
  <div
    class="self-stretch flex w-full items-stretch justify-between gap-5 mt-6 max-md:max-w-full max-md:flex-wrap"
  >
    <div class="flex items-stretch justify-between gap-0 px-5">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e7c29d48-7afa-4e07-acbe-796328a9153d?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        <a href="/">SECEDU Hub</a>
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-1 my-auto px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/aboutus">ABOUT US</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/cyberThreats">CYBER THREATS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/trainingAndDevelopment">OUR RESPONSE</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/768ddc23-c354-4ed6-8824-48ad24144eb8?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div class="text-sky-900 text-xl leading-6 self-center my-auto"><a href="/News">NEWS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/getInvolved">GET INVOLVED</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff865c38-94e2-4125-bc43-28ba349d1a4e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[1.56] object-contain object-center w-3.5 fill-sky-900 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b259de7a-4203-438a-ba3e-97eccde30a0b?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/dc25c76f-f6bd-4a19-a7f4-ada291024fac?apiKey=3d4614815a2e4e8582811d42cca0441f&"
    class="aspect-[2.54] object-contain object-center w-full overflow-hidden self-stretch mt-4 max-md:max-w-full"
  />
  <div
    class="self-center flex w-full max-w-[1141px] flex-col mt-24 max-md:max-w-full max-md:mt-10"
  >
    <div
      class="text-black text-6xl font-bold leading-[77px] self-stretch max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
    >
      Your support is crucial for peace and stability in cyberspace
    </div>
    <div
      class="text-black text-justify text-2xl leading-7 self-stretch mt-12 max-md:max-w-full max-md:mt-10"
    >
      Cyber threats are only increasing. Threat actors have already stolen
      millions of dollars of aid money and terabytes of data from NGOs,
      impacting population, orphanages, refugee centres, hospitals, food banks.
      <br />
      <br />
      People are at the heart of the SECEDU Hubs concern. We are committed to
      protect the most vulnerable against cyber threats in the non-profit
      sector.
      <br />
      <br />
      We need your support to assist NGOs to secure their resources and enhance
      their resilience to cyberattacks.
      <br />
      <br />
      50 USD could help us onboard a cybersecurity expert as a volunteer to
      support NGOs
      <br />
      <br />
      150 USD could contribute to a general security assessment for 1 NGO
      <br />
      <br />
      300 USD could help us deliver a cybersecurity awareness training
      <br />
      <br />
      500 USD could allow us to simulate a phishing campaign to train NGOs in
      detecting threats
      <br />
      <br />
      1,000 USD could contribute to improving the cybersecurity posture of an
      NGO on key aspects
    </div>
    <div class="w-[682px] max-w-full mt-16 max-md:mt-10">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[26%] max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/6cd8dd8b-bfd4-4d0b-a187-e645c3efe54d?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[0.97] object-contain object-center w-[166px] overflow-hidden"
            />
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/19689a38-f1d0-4ab0-8b0b-60c5b59bd77c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[0.97] object-contain object-center w-[166px] overflow-hidden mt-36 max-md:mt-10"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[74%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="flex flex-col items-stretch mt-1.5 max-md:max-w-full max-md:mt-10"
          >
            <div
              class="text-black text-justify text-2xl font-bold leading-7 whitespace-nowrap max-md:max-w-full"
            >
              Become a volunteer
            </div>
            <div
              class="text-black text-justify text-2xl leading-7 mt-8 max-md:max-w-full"
            >
              Our teams are always looking for cybersecurity volunteers that can
              help us to build cybersecurity capabilities for NGOs, and support
              to victims of cyberattacks.
            </div>
            <div
              class="text-black text-justify text-2xl font-bold leading-7 whitespace-nowrap mt-32 max-md:max-w-full max-md:mt-10"
            >
              What’s the Impact of your contribution?
            </div>
            <div
              class="text-black text-justify text-2xl leading-7 mt-7 max-md:max-w-full"
            >
              Subscribe to our monthly newsletter and stay updated on our
              actions.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="border bg-green-500 self-stretch flex w-full flex-col items-center mt-24 pl-20 pr-20 py-12 border-solid border-black max-md:max-w-full max-md:mt-10 max-md:px-5"
  >
    <div class="w-full max-w-[1145px] pr-14 max-md:max-w-full max-md:pr-5">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a938c827-97c0-4155-aaa9-1fcf9d81c952?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.01] object-contain object-center w-[202px] overflow-hidden"
            />
            <div
              class="text-white text-3xl leading-10 uppercase self-stretch whitespace-nowrap"
            >
              SECEDU HUB
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[37%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch my-auto max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Find Out More
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Glossary
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch mt-8 max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Stay Connected
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Contact
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Newsletter
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Follow Us
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[323px] max-w-full items-stretch justify-between gap-5 mr-36 mt-12 mb-8 self-end max-md:justify-center max-md:mr-2.5 max-md:mt-10"
    >
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a53c7337-ac5a-4ce8-91fb-7849990ef276?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/79601669-77b9-4423-9bde-2ac0bbf3ff8c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/96f3a130-3170-4c9e-ada1-078fd7225cad?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2438ecc5-099c-4a77-8551-1c683fde305c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
    </div>
  </div>
</div>
<%- include('partials/footer') %>