<%- include('partials/header', {title: 'Get Involved'}) %>
<div class="bg-white flex flex-col">
  <div class="self-stretch z-[1] w-full mt-6 max-md:max-w-full">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-1/5 max-md:w-full max-md:ml-0">
        <div class="flex items-stretch gap-0 px-5 max-md:mt-10">
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/948be65f-15d9-4874-aa6d-baada88bde61?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
          />
          <div
            class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
          >
            <a href="/">SECEDU Hub</a>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-4/5 ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex grow items-start justify-between gap-1 mt-5 px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center max-md:mt-10"
        >
          <div class="text-sky-900 text-xl leading-6 mt-4"><a href="/aboutus">ABOUT US</a></div>
          <div class="text-sky-900 text-xl leading-6 mt-4"><a href="/cyberThreats">CYBER THREATS</a></div>
          <div class="text-sky-900 text-xl leading-6 mt-4"><a href="/trainingAndDevelopment">OUR RESPONSE</a></div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/e5671a66-4391-4045-9b85-d0c644be15c2?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="aspect-square object-contain object-center w-10 overflow-hidden shrink-0 max-w-full mt-2 self-start"
          />
          <div class="text-sky-900 text-xl leading-6 mt-5 self-start"><a href="/News">NEWS</a></div>
          <div class="self-stretch flex grow basis-[0%] flex-col items-stretch">
            <div
              class="flex items-start justify-between gap-5 max-md:justify-center"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9231a8d9-35ca-4865-8f09-ddff4e041047?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-[2.33] object-contain object-center w-3.5 fill-sky-900 overflow-hidden shrink-0 max-w-full mt-1.5 self-start"
              />
              <div
                class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5 max-md:pl-2.5"
              >
                <a href="/Donate">DONATE</a>
              </div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/4d067079-09ff-4770-b999-33edf760b6c8?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
              />
              <div
                class="text-sky-900 text-xl leading-6 self-center grow whitespace-nowrap my-auto"
              >
                EN
              </div>
            </div>
            <div
              class="bg-white flex flex-col items-stretch pt-8 px-1.5 border-[0.2px] border-solid border-black"
            >
              <div
                class="text-black text-2xl leading-7 bg-black bg-opacity-30 items-stretch pt-4 pb-2 max-md:-mr-1.5"
              >
                Donate
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-col overflow-hidden self-stretch relative flex min-h-[566px] w-full items-center pt-7 pb-12 px-5 max-md:max-w-full"
  >
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a22561d3-3426-4410-88d7-5f55f8bd2a66?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
    />
    <div
      class="relative flex w-full max-w-[984px] flex-col mb-52 max-md:max-w-full max-md:mb-10"
    >
      <div class="text-black text-2xl leading-7">Partner With Us</div>
      <div
        class="text-white text-6xl leading-[77px] self-stretch whitespace-nowrap mt-40 max-md:max-w-full max-md:text-4xl max-md:leading-[53px] max-md:mt-10"
      >
        PARTNER WITH US TODAY
      </div>
    </div>
  </div>
  <div
    class="flex w-[573px] max-w-full flex-col items-stretch ml-14 mt-12 self-start max-md:mt-10"
  >
    <div
      class="text-black text-4xl font-bold leading-10 whitespace-nowrap max-md:max-w-full"
    >
      READY TO JOIN US ?
    </div>
    <div
      class="text-black text-4xl font-semibold leading-10 whitespace-nowrap mt-10 max-md:max-w-full"
    >
      Your contribution enables you to;
    </div>
  </div>
  <div
    class="bg-sky-900 self-stretch flex w-full items-stretch justify-between gap-5 mt-8 pl-14 pr-5 py-11 rounded-[104px] max-md:max-w-full max-md:flex-wrap max-md:px-5"
  >
    <div class="flex grow basis-[0%] flex-col items-stretch max-md:max-w-full">
      <div class="text-white text-4xl font-bold leading-10 max-md:max-w-full">
        <ul>
          <li>PROTECT THE MOST VULNERABLE GLOBALLY</li>
        </ul>
      </div>
      <div class="text-white text-2xl leading-7 mt-6 max-md:max-w-full">
        Join a community of organizations safeguarding digital security, dignity
        and equity of people worldwide
      </div>
      <div
        class="text-white text-4xl font-bold leading-10 mt-16 max-md:max-w-full max-md:mt-10"
      >
        <ul>
          <li>
            SERVE HUMANITY THROUGH YOUR KNOWLEDGE, DATA, PRODUCTS AND SERVICES
          </li>
        </ul>
      </div>
      <div class="text-white text-2xl leading-7 mt-8 max-md:max-w-full">
        Offer your industry grade tools and programs to us to safeguard NGOs in
        cyberspace
      </div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c7891abc-5727-4bcc-a413-1029375708cd?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="aspect-[0.02] object-contain object-center w-[5px] stroke-[5px] stroke-white overflow-hidden shrink-0 max-w-full mt-10 self-start"
    />
    <div class="flex grow basis-[0%] flex-col self-start max-md:max-w-full">
      <div
        class="text-white text-4xl font-bold leading-10 self-stretch max-md:max-w-full"
      >
        <ul>
          <li>DEVELOP AND RETAIN CYBER TALENT</li>
        </ul>
      </div>
      <div
        class="text-white text-2xl leading-7 self-center w-[518px] max-w-full mt-7"
      >
        Upskill your workforce through volunteering opportunities that bring
        invaluable experience
      </div>
      <div
        class="text-white text-4xl font-bold leading-10 self-stretch mt-9 max-md:max-w-full"
      >
        <ul>
          <li>MEET YOUR IMPACT AGENDA</li>
        </ul>
      </div>
      <div
        class="text-white text-2xl leading-7 w-[491px] max-w-full ml-5 mt-11 self-start max-md:mt-10"
      >
        Aligning your business purpose with social impact
      </div>
    </div>
  </div>
  <div
    class="text-black text-4xl leading-10 self-center whitespace-nowrap mt-10 max-md:max-w-full"
  >
    Join our global community of more than 70 partners and supporters
  </div>
  <div
    class="text-white text-3xl leading-10 uppercase whitespace-nowrap bg-green-500 self-center w-[301px] max-w-full items-center mt-7 px-5 py-12"
  >
    JOIN US
  </div>
  <div
    class="bg-green-500 self-stretch flex w-full flex-col items-center mt-9 pl-20 pr-20 py-12 max-md:max-w-full max-md:px-5"
  >
    <div class="w-full max-w-[1145px] pr-14 max-md:max-w-full max-md:pr-5">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c65e88bd-608e-427e-ad40-1174eea3dbde?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.01] object-contain object-center w-[202px] overflow-hidden"
            />
            <div
              class="text-white text-3xl leading-10 uppercase self-stretch whitespace-nowrap"
            >
              SECEDU HUB
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[37%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch my-auto max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Find Out More
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Glossary
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch mt-8 max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Stay Connected
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Contact
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Newsletter
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Follow Us
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[323px] max-w-full items-stretch justify-between gap-5 mr-36 mt-12 mb-8 self-end max-md:justify-center max-md:mr-2.5 max-md:mt-10"
    >
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/cd9059aa-d59c-4047-9602-063bafd5a4d1?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/78ec10d9-4c00-4d21-a493-08a7b0bc5578?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b02fcd99-3ef2-482b-9706-ca302dcec800?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/95d232e9-536e-4c16-a62c-76fd6b2d4e7c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
    </div>
  </div>
</div>
<%- include('partials/footer') %>