<div class="bg-white flex flex-col">
  <div
    class="self-stretch flex w-full items-stretch justify-between gap-5 mt-6 max-md:max-w-full max-md:flex-wrap"
  >
    <div class="flex items-stretch justify-between gap-0 px-5">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/29145a0e-a9bb-4fcb-bac1-fffe6726eae7?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        SECEDU Hub
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-1 my-auto px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 my-auto">ABOUT US</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">CYBER THREATS</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">OUR RESPONSE</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6aab2f83-611b-4050-94f8-84238ad5f209?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div class="text-sky-900 text-xl leading-6 self-center my-auto">NEWS</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">GET INVOLVED</div>
      <div
        class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5 max-md:pl-2.5"
      >
        DONATE
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/82ae9b88-5416-4194-8462-e7a0dda0f25e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <div
    class="flex-col overflow-hidden self-stretch relative flex min-h-[565px] w-full items-center mt-4 px-5 py-12 max-md:max-w-full"
  >
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/16781f94-ae5b-4786-8bda-ca74e032c19a?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
    />
    <div
      class="relative flex w-full max-w-[1199px] flex-col items-center mt-36 mb-16 max-md:max-w-full max-md:my-10"
    >
      <div
        class="text-white text-center text-6xl leading-[77px] max-w-[808px] max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
      >
        CYBER ATTACKS IN TIMES
        <br />
        OF CONFLICTS
      </div>
      <div
        class="text-white text-3xl leading-10 self-stretch whitespace-nowrap mt-16 max-md:max-w-full max-md:mt-10"
      >
        Monitoring the harm to civilians from cyberattacks, in the quest for
        cyberpeace.
      </div>
    </div>
  </div>
  <div
    class="text-black text-3xl leading-10 self-center whitespace-nowrap mt-16 max-md:max-w-full max-md:mt-10"
  >
    Cyberattacks and operations in times of conflict cause harm to civilians.
  </div>
  <div
    class="text-black text-3xl leading-10 self-center whitespace-nowrap mt-12 max-md:max-w-full max-md:mt-10"
  >
    Explore the conflict in cyberspace
  </div>
  <div
    class="self-stretch w-full mt-20 pr-16 max-md:max-w-full max-md:mt-10 max-md:pr-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
      >
        <div
          class="border bg-white bg-opacity-60 flex grow flex-col items-center w-full mx-auto pb-12 border-solid border-black max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-white text-3xl leading-10 whitespace-nowrap bg-fuchsia-800 w-[267px] max-w-full items-center pt-6 pb-4 px-5"
          >
            Cyber Threats
          </div>
          <div
            class="self-stretch flex flex-col mt-6 mb-4 pl-3.5 pr-6 max-md:max-w-full max-md:pr-5"
          >
            <div class="text-fuchsia-800 text-2xl leading-7 self-stretch">
              Analyzing attacks & attribution to reach legal accountability
            </div>
            <div
              class="flex w-[168px] max-w-full items-center gap-3.5 ml-3 mt-10 pr-1 max-md:ml-2.5"
            >
              <div
                class="text-fuchsia-800 text-2xl leading-7 underline my-auto"
              >
                Overview
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/0adc373b-159b-4cb8-b5ac-f1c6060edb6e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 self-stretch mt-7">
              Which actors, through what type of cyberattacks, pose the greatest
              threat?
            </div>
            <div
              class="flex w-[168px] max-w-full items-center justify-between gap-5 ml-3 mt-10 pr-1 max-md:ml-2.5 max-md:mt-10"
            >
              <div
                class="text-fuchsia-800 text-2xl leading-7 underline my-auto"
              >
                Timeline
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c772a539-4aa6-40d9-a576-1526193e01c3?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 self-stretch mt-7">
              How have cyberattacks evolved over time?
            </div>
            <div
              class="flex w-[205px] max-w-full items-center gap-1 ml-3 mt-12 pr-1 max-md:ml-2.5 max-md:mt-10"
            >
              <div
                class="text-fuchsia-800 text-2xl leading-7 underline my-auto"
              >
                Attack Details
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/5488f364-53ba-4f5d-b32a-6ae1efae4353?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 self-stretch mt-7">
              What type of cyberattacks and operations have impacted
              infrastructure and civilian objects?
            </div>
            <div
              class="flex w-[218px] max-w-full items-center gap-1 ml-3 mt-11 pr-0.5 max-md:ml-2.5 max-md:mt-10"
            >
              <div
                class="text-fuchsia-800 text-2xl leading-7 underline my-auto"
              >
                Latest Analysis
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/cc657d5b-3133-49a9-b88c-bca19ae8fd20?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 self-stretch mt-7">
              A summary of the findings from our analysis report on the
              cyberattacks in the latest quarter
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="border bg-white bg-opacity-60 flex grow flex-col items-center w-full mx-auto pb-12 border-solid border-black max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-white text-3xl leading-10 whitespace-nowrap bg-red-700 w-[267px] max-w-full items-center pt-6 pb-4 px-5"
          >
            Impact & Harm
          </div>
          <div
            class="self-stretch flex flex-col items-stretch mt-6 mb-40 pl-3.5 pr-7 max-md:max-w-full max-md:mb-10 max-md:pr-5"
          >
            <div class="text-red-700 text-2xl leading-7">
              Tracing harm to civilians to protect civilians
            </div>
            <div
              class="flex w-[167px] max-w-full items-center gap-3.5 ml-4 mt-9 pr-1 self-start max-md:ml-2.5"
            >
              <div class="text-red-700 text-2xl leading-7 underline my-auto">
                Overview
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/0567298b-e75c-4df3-b1f1-7a881146c85d?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div
              class="text-black text-2xl leading-7 w-[373px] max-w-full ml-4 mt-7 self-start max-md:ml-2.5"
            >
              How do cyberattacks and operations impact civilians?
            </div>
            <div
              class="flex w-[231px] max-w-full items-center gap-0 ml-4 mt-11 pr-0.5 self-start max-md:ml-2.5 max-md:mt-10"
            >
              <div class="text-red-700 text-2xl leading-7 underline my-auto">
                Geopolitical Map
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/193e43db-1143-47ff-a868-f3e69f8c208f?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 mt-7">
              Which countries have been impacted by cyberattacks and how do
              these relate to geopolitical and economic activities?
            </div>
            <div
              class="flex w-[139px] max-w-full items-center gap-1 ml-4 mt-11 pr-1.5 self-start max-md:ml-2.5 max-md:mt-10"
            >
              <div class="text-red-700 text-2xl leading-7 underline my-auto">
                Sectors
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7cf8c8df-0c4c-4ec0-94af-4e4acdeaeea0?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div class="text-black text-2xl leading-7 mt-5">
              How have specific sectors been impacted by cyberattacks related to
              the conflict?
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="border bg-white bg-opacity-60 flex grow flex-col items-center w-full mx-auto pb-12 border-solid border-black max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-white text-3xl leading-10 whitespace-nowrap bg-cyan-600 w-[267px] max-w-full items-center pt-6 pb-4 px-5"
          >
            Law & Policy
          </div>
          <div
            class="self-stretch flex flex-col mt-6 mb-40 pl-3.5 pr-6 max-md:max-w-full max-md:mb-10 max-md:pr-5"
          >
            <div class="text-cyan-600 text-2xl leading-7 self-stretch">
              Documenting legal instruments to drive regulatory change
            </div>
            <div
              class="flex w-[167px] max-w-full items-center gap-3.5 ml-4 mt-9 pr-1 self-start max-md:ml-2.5"
            >
              <div class="text-cyan-600 text-2xl leading-7 underline my-auto">
                Overview
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/84a5a631-a56a-42da-9b45-599c47cf0c5e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div
              class="text-black text-2xl leading-7 w-[373px] max-w-full ml-4 mt-7 self-start max-md:ml-2.5"
            >
              How does the legal and normative ecosystem relate to cyberattacks
              deployed during an armed conflict?
            </div>
            <div
              class="flex w-[177px] max-w-full items-center gap-px ml-4 mt-11 pr-1 self-start max-md:ml-2.5 max-md:mt-10"
            >
              <div class="text-cyan-600 text-2xl leading-7 underline my-auto">
                Case Study
              </div>
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3282a497-c3a9-4ee3-bb6b-61859e7c02fd?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                class="aspect-square object-contain object-center w-[29px] overflow-hidden self-stretch shrink-0 max-w-full"
              />
            </div>
            <div
              class="text-black text-2xl leading-7 w-[373px] max-w-full ml-4 mt-7 self-start max-md:ml-2.5"
            >
              What happened to systems and what does this mean for
              accountability in cyberspace?
            </div>
            <div
              class="text-cyan-600 text-2xl leading-7 underline whitespace-nowrap ml-4 mt-8 self-start max-md:ml-2.5"
            >
              Explainer Videos
            </div>
            <div
              class="text-black text-2xl leading-7 w-[373px] max-w-full ml-4 mt-8 self-start max-md:ml-2.5"
            >
              Insights from our data analysis on the crucial role of
              cyberattacks in this conflict.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-slate-900 self-stretch w-full mt-10 pl-8 pr-10 py-12 max-md:max-w-full max-md:px-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
      >
        <div class="flex flex-col mt-24 max-md:max-w-full max-md:mt-10">
          <div
            class="text-white text-3xl leading-10 self-stretch max-md:max-w-full"
          >
            Donation
          </div>
          <div
            class="text-white text-2xl leading-7 self-stretch mt-9 max-md:max-w-full"
          >
            Support the SECEDU Hub
          </div>
          <div
            class="text-white text-2xl leading-7 self-stretch mt-9 max-md:max-w-full"
          >
            Individual lives can be changed dramatically by the acts of cyber
            criminals. We need your support to assist victims of cyberattacks in
            the NGO, humanitarian and healthcare sectors.
          </div>
        
             <a href="/donate"
            class="text-black text-3xl leading-10 whitespace-nowrap bg-blue-500 w-[213px] max-w-full mt-12 px-3 py-6 rounded-3xl self-start max-md:mt-10"
          >
           Donate Now</a> 
       

         
         
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="bg-blue-500 flex flex-col items-stretch w-full m-auto pl-9 pr-4 pt-8 pb-12 max-md:max-w-full max-md:mt-10 max-md:pl-5"
        >
          <div
            class="text-white text-3xl leading-10 whitespace-nowrap max-md:max-w-full"
          >
            Newsletter
          </div>
          <div
            class="text-white text-2xl leading-7 whitespace-nowrap mt-8 max-md:max-w-full"
          >
            Subscribe to our newsletter
          </div>
          <div
            class="text-white text-2xl leading-7 mt-11 mb-28 max-md:max-w-full max-md:my-10"
          >
            Receive monthly news on what’s happening at the SECEDU Hub: our
            impact, publications, events and important milestones.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="border bg-sky-900 self-stretch w-full pl-8 pr-20 py-12 border-solid border-black max-md:max-w-full max-md:px-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[32%] max-md:w-full max-md:ml-0"
      >
        <div class="text-white text-2xl leading-7 underline mt-44 max-md:mt-10">
          Contact Us
          <br />
          Media Contact
          <br />
          media@secedu.org
          <br />
          General Enquiries
          <br />
          enqpltform@secedu.com
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[41%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex flex-col items-stretch mt-6 max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-white text-center text-2xl leading-7 max-md:max-w-full"
          >
            Results based on data collected between
            <br />
            January 2021 and September 2023
          </div>
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f0579248-2279-48ab-8815-ff5626418ffe?apiKey=3d4614815a2e4e8582811d42cca0441f&"
            class="aspect-[0.91] object-contain object-center w-[195px] overflow-hidden self-center max-w-full mt-6"
          />
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[28%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div class="text-white text-2xl leading-7 underline mt-44 max-md:mt-10">
          Subscribe to our Newsletter
          <br />
          <br />
          <a
            href="https://share.hsforms.com/1_k0nwI76SdKD3NrplOgGMA4h06f"
            target="_blank"
          >
            <br />
          </a>
          <br />
          Privacy Policy
        </div>
      </div>
    </div>
  </div>
</div>
