<div class="bg-white flex flex-col items-stretch">
  <div
    class="flex w-full items-stretch justify-between gap-5 mt-6 max-md:max-w-full max-md:flex-wrap"
  >
    <div class="flex items-stretch justify-between gap-0 px-5">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/5e75261d-91a1-408a-b396-28e1d9731dfe?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        SECEDU Hub
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-1 my-auto px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 my-auto">ABOUT US</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">CYBER THREATS</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">OUR RESPONSE</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/341b2cc6-fdd3-4eae-80f4-0de66f918500?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div class="text-sky-900 text-xl leading-6 self-center my-auto">NEWS</div>
      <div class="text-sky-900 text-xl leading-6 my-auto">GET INVOLVED</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fdb89486-4280-47f8-951b-718e4a965676?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[1.56] object-contain object-center w-3.5 fill-sky-900 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5"
      >
        DONATE
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/82d9c422-d60c-4ef9-8a06-c85cbf27e21c?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <div
    class="text-white text-6xl font-bold leading-[77px] whitespace-nowrap bg-green-500 w-full items-center mt-5 pt-56 pb-60 px-5 max-md:text-4xl max-md:leading-[53px] max-md:max-w-full max-md:py-10"
  >
    NEWS
  </div>
  <div
    class="flex w-full flex-col items-stretch mt-32 mb-96 pl-16 pr-16 max-md:max-w-full max-md:my-10 max-md:px-5"
  >
    <div class="max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[58%] max-md:w-full max-md:ml-0"
        >
          <div
            class="flex flex-col items-stretch max-md:max-w-full max-md:mt-10"
          >
            <div class="max-md:max-w-full">
              <div
                class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
              >
                <div
                  class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
                >
                  <div class="flex flex-col items-stretch max-md:mt-10">
                    <img
                      loading="lazy"
                      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/9315fb13-3637-4278-a30d-f691651e3ea9?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                      class="aspect-[1.5] object-contain object-center w-full shadow-sm overflow-hidden"
                    />
                    <div class="flex flex-col mt-4">
                      <div
                        class="text-black text-2xl font-semibold leading-7 self-stretch"
                      >
                        Encryption Webinar Series: Expert Insights from Sandra
                        Cybermind
                      </div>
                      <div
                        class="text-black text-xl leading-6 whitespace-nowrap ml-3 mt-6 max-md:ml-2.5"
                      >
                        Date: November 28, 2023
                      </div>
                      <div
                        class="text-black text-xl leading-6 self-stretch whitespace-nowrap mt-4"
                      >
                        SECEdu Hub
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
                >
                  <div class="flex grow flex-col items-stretch max-md:mt-10">
                    <img
                      loading="lazy"
                      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b6bdc76-2eda-44b2-9b6c-f6ae8eed354e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                      class="aspect-[1.51] object-contain object-center w-full shadow-sm overflow-hidden"
                    />
                    <div class="flex flex-col items-stretch mt-4">
                      <div class="text-black text-2xl font-semibold leading-7">
                        Rising Cyber Threats in Southeast Asia
                      </div>
                      <div
                        class="text-black text-xl leading-6 whitespace-nowrap mt-14 max-md:mt-10"
                      >
                        Date: November 15, 2023
                      </div>
                      <div class="text-black text-xl leading-6 mt-4">
                        Alexandra Shields,
                        <br />
                        SECEdu Cybersecurity Analyst
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-24 max-md:max-w-full max-md:mt-10">
              <div
                class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
              >
                <div
                  class="flex flex-col items-stretch w-[52%] max-md:w-full max-md:ml-0"
                >
                  <div class="flex flex-col items-stretch max-md:mt-10">
                    <img
                      loading="lazy"
                      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/5ecf5162-ee4e-4342-96f2-9da4420fad93?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                      class="aspect-[1.51] object-contain object-center w-full shadow-sm overflow-hidden"
                    />
                    <div class="flex flex-col mt-5 pl-8 pr-8 max-md:px-5">
                      <div
                        class="text-black text-2xl font-semibold leading-7 self-stretch"
                      >
                        Empowering NGOs: Launch of SECEdu's CyberShield Project
                      </div>
                      <div
                        class="text-black text-xl leading-6 whitespace-nowrap ml-3.5 mt-14 max-md:ml-2.5 max-md:mt-10"
                      >
                        Date: October 18, 2023
                        <br />
                      </div>
                      <div
                        class="text-black text-xl leading-6 self-stretch mt-4"
                      >
                        SECEdu Team
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col items-stretch w-[48%] ml-5 max-md:w-full max-md:ml-0"
                >
                  <div class="flex grow flex-col max-md:mt-10">
                    <img
                      loading="lazy"
                      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/95513b7f-d2c8-4e26-8ac3-e7c580cfe81d?apiKey=3d4614815a2e4e8582811d42cca0441f&"
                      class="aspect-[1.5] object-contain object-center w-full shadow-sm overflow-hidden self-stretch"
                    />
                    <div
                      class="text-black text-2xl font-semibold leading-7 self-center w-[285px] max-w-full mt-7"
                    >
                      Harnessing AI for Human Rights: SECEdu's Innovative
                      Project Unveiled
                    </div>
                    <div
                      class="text-black text-xl leading-6 self-center whitespace-nowrap mt-3.5"
                    >
                      Date: September 25, 2023
                      <br />
                    </div>
                    <div
                      class="text-black text-xl leading-6 self-center max-w-[290px] mt-3"
                    >
                      Dr. Jonathan Firewall
                      <br />
                      SECEdu Hub Data Scientist
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[42%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="shadow-sm bg-sky-900 flex grow flex-col items-stretch w-full mx-auto px-5 py-12 rounded-[50px] border-[3px] border-solid border-black max-md:max-w-full max-md:mt-10"
          >
            <div
              class="text-white text-4xl font-bold leading-10 whitespace-nowrap mt-1.5 max-md:max-w-full"
            >
              RECENT POSTS
            </div>
            <div
              class="bg-green-500 shrink-0 h-[5px] mt-5 max-md:max-w-full"
            ></div>
            <div
              class="text-white text-2xl leading-7 mt-16 max-md:max-w-full max-md:mt-10"
            >
              Encryption Webinar Series: Expert Insights from Sandra Cybermind.
              <br />
              <br />
              November 28, 2023
            </div>
            <div class="bg-black shrink-0 h-px mt-7 max-md:max-w-full"></div>
            <div
              class="text-white text-2xl leading-7 mt-16 max-md:max-w-full max-md:mt-10"
            >
              Rising Cyber Threats in Southeast Asia.
              <br />
              <br />
              November 15, 2023
            </div>
            <div class="bg-black shrink-0 h-px mt-9 max-md:max-w-full"></div>
            <div
              class="text-white text-2xl leading-7 mt-16 max-md:max-w-full max-md:mt-10"
            >
              Global Initiative: Ending Cyber Operations in Emerging Markets.
              <br />
              <br />
              October 31, 2023
            </div>
            <div
              class="bg-black shrink-0 h-px mt-11 max-md:max-w-full max-md:mt-10"
            ></div>
            <div
              class="text-white text-2xl leading-7 mt-14 mb-10 max-md:max-w-full max-md:mt-10"
            >
              Empowering NGOs: Launch of SECEdu's CyberShield Project
              <br />
              October 18, 2023
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[718px] max-w-full mt-20 self-start max-md:mt-10">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/9e7c8bdd-d601-4435-9b4e-be45a9c1c075?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.5] object-contain object-center w-full shadow-sm overflow-hidden"
            />
            <div class="text-black text-2xl font-semibold leading-7 mt-8">
              Cybersecurity Education for Justice.
            </div>
            <div
              class="text-black text-xl leading-6 whitespace-nowrap mt-16 max-md:mt-10"
            >
              Date: August 30, 2023
              <br />
            </div>
            <div class="text-black text-xl leading-6 mt-4">
              SECEdu Hub Partnerships Team
              <br />
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f489358c-c8c3-4293-b1c7-42ec1a95c340?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.5] object-contain object-center w-full shadow-sm overflow-hidden"
            />
            <div class="text-black text-2xl font-semibold leading-7 mt-4">
              Global Initiative: Ending Cyber Operations in Emerging Markets
            </div>
            <div class="text-black text-xl leading-6 whitespace-nowrap mt-6">
              Date: October 31, 2023
            </div>
            <div class="text-black text-xl leading-6 mt-4">
              SECEdu Hub Advocacy Team
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
