<%- include('partials/header', {title: 'Traning and Development'}) %>
<div class="bg-white flex flex-col items-stretch">
  <div
    class="flex w-full items-stretch justify-between gap-5 mt-6 max-md:max-w-full max-md:flex-wrap"
  >
    <div class="flex items-stretch justify-between gap-0 px-5">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/89e659ce-b05c-4096-8013-4a367cdae56e?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[0.98] object-contain object-center w-[90px] overflow-hidden shrink-0 max-w-full"
      />
      <div
        class="text-cyan-600 text-xl leading-6 grow whitespace-nowrap mt-10 self-start"
      >
        <a href="/">SECEDU Hub</a>
      </div>
    </div>
    <div
      class="self-center flex items-start justify-between gap-1 my-auto px-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/aboutus">ABOUT US</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/cyberThreats">CYBER THREATS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/cyberAttacksAndDisinformation">BE INFORMED</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc777dc4-8725-40cb-b5d7-b6e70a170ed3?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div class="text-sky-900 text-xl leading-6 self-center my-auto"><a href="/News">NEWS</a></div>
      <div class="text-sky-900 text-xl leading-6 my-auto"><a href="/getInvolved">GET INVOLVED</a></div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/4036d2c3-be69-44e3-b64b-82f65a534298?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-[1.56] object-contain object-center w-3.5 fill-sky-900 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 bg-green-500 self-stretch grow px-5 py-5"
      >
        <a href="/Donate">DONATE</a>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b45a3f86-b474-4e9b-a629-110215fccbe9?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-10 overflow-hidden self-center shrink-0 max-w-full my-auto"
      />
      <div
        class="text-sky-900 text-xl leading-6 self-center whitespace-nowrap my-auto"
      >
        EN
      </div>
    </div>
  </div>
  <div
    class="flex-col text-white text-6xl leading-[77px] relative whitespace-nowrap overflow-hidden min-h-[566px] w-full items-center mt-3 pt-64 pb-48 px-5 max-md:max-w-full max-md:text-4xl max-md:leading-[53px] max-md:py-10"
  >
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/ee7ad831-3cdc-48f8-9adc-441e4547af3b?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
    />
    Training and Development
  </div>
  <div class="w-full mt-14 px-5 max-md:max-w-full max-md:mt-10">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[34%] max-md:w-full max-md:ml-0"
      >
        <div class="text-green-600 text-3xl leading-10 my-auto max-md:mt-10">
          <ul>
            <li>Training for NGOs</li>
            <li>Training for Foundations</li>
            <li>Training for Volunteers</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[66%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="text-black text-3xl leading-10 max-md:max-w-full max-md:mt-10"
        >
          SECEDU Hub extends a range of services, including comprehensive
          training for NGOs Boards & Staff, Foundations and Volunteers designed
          to empower organizations with vital tools for safeguarding their
          missions.
          <br />
          We are committed to bridging the knowledge gap and overcoming the
          digital divide, distinguishing us as experts in both cybersecurity and
          humanitarianism.
          <br />
          Explore our training options to find the right source for you.
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-black bg-opacity-30 flex w-full flex-col items-stretch mt-9 pl-14 pr-14 py-12 rounded-[85px] max-md:max-w-full max-md:px-5"
  >
    <div class="pr-px max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div
            class="text-white text-2xl leading-7 bg-blue-700 bg-opacity-50 grow items-center w-full mx-auto pl-px pr-5 pt-32 pb-12 max-md:mt-10 max-md:pt-10"
          >
            Capacity Building
            <br />
            Offering for NGO
            <br />
            Boards
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="text-black text-2xl leading-7 max-w-[290px] bg-white bg-opacity-60 grow items-center w-full mx-auto pt-32 pb-16 px-5 max-md:mt-10 max-md:pt-10"
          >
            Cybersecurity Awareness
            <br />
            Training
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="text-white text-2xl leading-7 max-w-[303px] bg-blue-700 bg-opacity-50 grow items-center w-full mx-auto pt-32 pb-16 px-5 max-md:mt-10 max-md:pt-10"
          >
            Humanitrian Cybersecurity
            <br />
            Training
          </div>
        </div>
      </div>
    </div>
    <div class="max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div
            class="text-black text-2xl leading-7 w-full bg-white bg-opacity-60 grow items-stretch mx-auto pt-6 pb-4 px-4 max-md:mt-10 max-md:pr-1"
          >
            This training aims to empower board members by providing a chance
            for directors to deepen their knowledge of cybersecurity and offers
            guidance and tools for strategic decisions as they fully acknowledge
            their role in terms of cybersecurity.
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="text-white text-2xl leading-7 bg-blue-700 bg-opacity-50 grow w-full mx-auto pt-6 pb-32 px-5 max-md:mt-10 max-md:pl-1 max-md:pb-10"
          >
            Training for NGO staff to build their cybersecurity knowledge and
            application in their daily tasks.
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div
            class="text-black text-2xl leading-7 bg-white bg-opacity-60 grow items-stretch w-full mx-auto pt-6 pb-28 px-5 max-md:pr-0 max-md:mt-10 max-md:pb-10"
          >
            Understand the context NGOs operate in to provide effective
            cybersecurity aid to under resourced organizations.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-col overflow-hidden relative flex min-h-[563px] w-full items-center mt-14 px-5 py-10 max-md:max-w-full max-md:mt-10"
  >
    <img
      loading="lazy"
      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7ee066e2-f68d-47d4-a5f8-e8d9128a5032?apiKey=3d4614815a2e4e8582811d42cca0441f&"
      class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
    />
    <div
      class="relative bg-zinc-300 bg-opacity-60 flex w-full max-w-[1245px] flex-col items-stretch pl-8 pr-20 py-12 rounded-md max-md:max-w-full max-md:px-5"
    >
      <div
        class="text-black text-6xl leading-[77px] max-w-[693px] self-center mt-7 max-md:max-w-full max-md:text-4xl max-md:leading-[53px]"
      >
        MORE INFORMATION
      </div>
      <div
        class="text-black text-center text-3xl leading-10 max-w-[1128px] mr-5 mt-5 max-md:max-w-full max-md:mr-2.5"
      >
        Training is a great start towards protecting your organization. Get in
        touch
        <br />
        with us for more details on how to protect your organization from cyber
        <br />
        threats.
      </div>
      <div
        class="text-white text-3xl leading-10 uppercase bg-green-500 self-center w-[300px] max-w-full items-center mt-14 mb-2 px-5 py-12 max-md:mt-10"
      >
        CONTACT US
      </div>
    </div>
  </div>
  <div
    class="bg-green-500 flex w-full flex-col items-center pl-20 pr-20 py-12 max-md:max-w-full max-md:px-5"
  >
    <div class="w-full max-w-[1145px] pr-14 max-md:max-w-full max-md:pr-5">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-center max-md:mt-10">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/63dce686-2c8c-48e8-abf6-8fd4c92b7694?apiKey=3d4614815a2e4e8582811d42cca0441f&"
              class="aspect-[1.01] object-contain object-center w-[202px] overflow-hidden"
            />
            <div
              class="text-white text-3xl leading-10 uppercase self-stretch whitespace-nowrap"
            >
              SECEDU HUB
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[37%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col items-stretch my-auto max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Find Out More
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Glossary
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex grow flex-col items-stretch mt-8 max-md:mt-10">
            <div
              class="text-white text-center text-4xl leading-10 whitespace-nowrap"
            >
              Stay Connected
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-7"
            >
              Contact
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Newsletter
            </div>
            <div
              class="text-white text-center text-3xl leading-10 whitespace-nowrap mt-9"
            >
              Follow Us
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-[323px] max-w-full items-stretch justify-between gap-5 mr-36 mt-12 mb-8 self-end max-md:justify-center max-md:mr-2.5 max-md:mt-10"
    >
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c16452e2-bbb5-4fce-929c-14a28380fdfb?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/6c3f5bd8-c786-4ffa-ae15-3ca6601798ec?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a97f6cf2-2094-4feb-8f93-4476519c7fb6?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2a7aaf66-330b-4723-903f-5bb7e7f9a621?apiKey=3d4614815a2e4e8582811d42cca0441f&"
        class="aspect-square object-contain object-center w-full overflow-hidden shrink-0 flex-1"
      />
    </div>
  </div>
</div>
<%- include('partials/footer') %>